.signin-container {
    padding: 1rem 0;
    display: flex;
    width: 100%;
    background-color: rgba(196, 50, 50, 0.267);
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 50vh;
}

.signin-container form {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}